.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #23252c;
  color: white;
}
.box{
  height: 399px;
  width: 317px;
  left: 450px;
  border-radius: 0px;
  background: #1A1B21;
  background-position: center;
  background-attachment: cover;
  position: absolute;
}
.profile{
  height: 317px;
  width: 317px;
  left: 450px;
  top: 44px;
  border-radius: 10px 10px 0 0;

}
.Footer{
  height: 20px;
  width: 317px;
  left: 450px;
  top: 760px;
  border-radius: 0 0 10px 10px;
  background: #161619;
}
.container-1{
  background: #1A1B21;
  text-align: center;

}
.container-2{
  background: #1A1B21;

}
.container-3{
  background: #16161b;
  text-align: center;
  justify-content: space-around;
  align-content: space-between;
}
.container-3.twitter{
  color: red;
}
p{
  background-color: #1A1B21;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 8px;
}
h1{
  color: #FFFFFF;
  font-family: inherit;
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  background-color: #1A1B21;


}
.working{
  font-family: Inter;
  font-size: 15px;
  font-weight: 450;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #F3BF99;
  background-color: #1A1B21;

}
h1:hover{
  color: crimson;
}
.college{
  font-family: Inter;
  font-size: 14px;
  font-weight: 450;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  background-color: #1A1B21;

}
button{
  height: 34px;
  width: 115px;
  left: 151px;
  top: 468px;
  border-radius: 6px;
  padding: 9px, 13px, 9px, 11px;
  text-align: center;
  left: 90px;
  background-color: white;
  border: none;
  margin: 4px;
}
button:active{
  color: darkgoldenrod;
  background-color: crimson;
}
.college:hover{
  color: chartreuse;
}
.email{
  background-color: transparent;
  text-align: center;
  color: black;
}
.button-1{
  height: 34px;
  width: 115px;
  left: 151px;
  top: 468px;
  border-radius: 6px;
  padding: 9px, 13px, 9px, 11px;
  text-align: center;
  left: 90px;
  background-color: #5093E2;
  border: none;
}
.linked{
  background-color: transparent;
  color: white;
  text-align: center;

}
.about{
  left: 450px;
  margin: 0;
  text-decoration: none;
  background-color: #1A1B21;
}
.about:hover {
  color: crimson;
}
.interests{
  left: 450px;
  margin: 0;
  text-decoration: none;
  background-color: #1A1B21;
}
.interests:hover {
  color: crimson;
}
a{
  text-decoration: none;
}